/*Body*/
@font-face 
{
	font-family: 'raleway';
	src:url('raleway.ttf') format('truetype');
}

body
{
	font-family: 'raleway', "sans-serif", arial;
	max-width: 1500px;
	margin: 0 auto;
}
/*------------------------------------------------------*/

/*Header*/

#logo
{
	position: relative;
	top: 50px;
	margin-bottom: 0;
	width: 100px;
	height: 70%;
}

.menu
{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-right: 6%;
}

header ul
{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: center;
}

header li
{
	list-style-type: none; /*supp. puces*/
	margin-right: 25%; /*espace entre les # menus*/
}

.menu a
{
	text-decoration: none; /*supp. barre de soulignement*/
	font-size: 1.3em;
	font-weight: bold;
}

.navigation a
{
	color: gray;
}
	
.navigation a:hover /*Survol*/
{
	color: #0065FC;
	border-top: #0065FC solid medium;
	padding-top: 60px;
}

.signup a
{
	color: #0065FC;
	font-weight: bold;
}

.signup 
{
	padding: 16px 0;
    font-weight: bold;
    color: #0065FC;
}

/*--*****************@media queries HEADER******************/

/*--*****Resolution-Tab*****--*/
@media screen and (max-width: 1024px)
{

	header
	{
    	display: grid;
    	grid-template-columns: 1fr 1fr;
    	grid-template-rows: 1fr 1fr;
     	margin: 20px;
	}

	#logo
	{
		display: grid;
   	 	grid-row: 1/2;
   	 	grid-column: 1/2;
   		width: 100%;
   	 	margin-left: 20px;
	}

	.signup 
	{
		display: grid;
		grid-row-start: 1;
		grid-row-end: 2;
		grid-column-start: 2;
		grid-column-end: 3;
    	border: none;
    	margin-top: 50px;
    	margin-left: 60%;
	}

		header ul
	{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		grid-row-start: 2;
		grid-row-end: 3;
		grid-column-start: 1;
		grid-column-end: 3;
		display: flex;
		justify-content: space-between;
		margin-top: 35%;
		margin-bottom: 0;
        margin-left: 50%;
	}

	.menu
	{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 50% 50%;
		grid-row-start: 1;
		grid-row-end: 3;
		grid-column-start: 1;
		grid-column-end: 3;
		width: 100%;
	}

	.navigation
	{
		border-bottom: solid medium #F2F2F2;

	}

	.navigation a:hover 
	{
    	border-bottom: solid medium #0065FC;
    	border-top: none;
	}
}


/*--*****Resolution-Mobile*****--*/
@media screen and (max-width: 720px)
{
    header
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin: 20px;
    }

    #logo
    {
        display: grid;
        grid-row: 1/2;
        grid-column: 1/2;
        width: 100%;
        margin-left: 20px;
    }

    .signup 
    {
        display: grid;
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end: 3;
        border: none;
        margin-top: 50px;
        margin-left: 180px;
    }

        header ul
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 3;
        display: flex;
        justify-content: space-between;
        margin-top: 55%;
        margin-bottom: 0;
        margin-left: 40%;
    }

    .menu
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 50% 50%;
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 3;
        width: 100%;
    }

    .navigation
    {
        border-bottom: solid medium #F2F2F2;

    }

    .navigation a:hover 
    {
        border-bottom: solid medium #0065FC;
        border-top: none;
    }
}

/*--*****************FIN DU @media*****************--*/

/*------------------------------------------------------------------------------*/

/*SECTION 1: Recherche + Filtres*/

/*----------------------*/
	/*Titre*/

.searchsection
{
    display: flex;
    flex-direction: column;
    margin: 35px 0;
}

.searchtitle
{
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}

.searchtitle p:hover
{
	color: black;
}

.search_subtitle 
{
    height: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0;
}
/*----------------------*/
	/*Barre de recherche*/

#searchbar
{
    display: flex;
    height: 50px;
    margin-top: 0;
    margin-bottom: 30px;
}

.mapmarker
{
	display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    border: solid 1px #F2F2F2;
}

input 
{
    width: 230px;
    border: solid 1px #F2F2F2;
    font-weight: bold;
    padding: 16px;
}

button 
{
    width: 130px;
    border-radius: 0px 15px 15px 0px;
    border: none;
    background-color: #0065FC;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

.searchbutton strong:hover
{
    color: white;
    font-weight: bold;
}

.fa-search /*loupe*/
{
    display: none;
}

/*----------------------*/
	/*Filtres*/
.filtersearch 
{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#filter 
{
    display: flex;
}

.filtersearch h3 
{
    margin-right: 35px;
    font-size: 1.2em;
}

.filterbutton 
{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border: #F2F2F2 3px solid;
    height: 50px;
    border-radius: 30px;
    margin-right: 25px;
}

.filterbutton:hover 
{
    cursor: pointer;
    color: white;
    background-color: #0065FC;
}

.filterbutton p 
{
    width: 100%;
    padding: 15px;
    font-weight: bold;
}

.filterbutton p:hover
{
	color:white;
	font-weight: bold;
}

.filterbutton .filtericon 
{
	display: flex;
    justify-content: center;
    align-items: center;
    color: #0065FC;
    box-sizing: border-box;
    background-color: #DEEBFF;
    width: 80px;
    height: 50px;
    border-radius: 70%;
}

/*----------------------*/
	/*Info*/

.info 
{
    display: flex;
    align-items: center;
}

.iconinfo 
{
    box-sizing: border-box;
    text-align: center;
    border: #F2F2F2 2px solid;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    margin-right: 10px;
}

.fa-info 
{
    width: 30px;
    height: 25px;
    color: #0065FC;
    font-size: 15px;
}

.info em
{
	font-style: inherit;
	font-size: 1em;
}
	/*----------------------------------*/

/*--*****************@media queries RECHERCHE + FILTRES*****************--*/

/*--*****Resolution-Tab*****--*/
@media screen and (max-width: 1024px)
{
    /*Titre*/
    .searchtitle h1, p
    {
        margin-left: 20px;
    }

    /*BARRE DE RECHERCHE*/
	.searchsection 
	{
   	 	margin-left: 20px;
	}

    #searchbar
    {
        margin-left: 20px;
    }

    button 
    {
        width: 65px;
        border-radius: 20px;
        margin-left: -15px;
    }

    button .fa-search /*loupe*/
    {
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 18px;
        font-size: 1.2em;
        color: white;
    }

    .searchbutton strong
    {
        display: none;
    }

    /*FILTRES*/
	.filtersearch 
	{
    	display: flex;
    	flex-direction: column;
    	align-items: flex-start;
	}

    .filtersearch h3
    {
        margin-left: 20px;
    }

	#filter 
	{
    	display: flex;
    	flex-wrap: wrap;
    	align-content: space-between;
        margin-left: 7px;
	}

	.filterbutton 
	{
    	margin: 10px;
	}

    .info
    {
        margin-left: 20px;
    }
}


/*--*****Resolution-Mobile*****--*/
@media screen and (max-width: 720px)
{
    /*Titre*/
    .searchtitle h1, p
    {
        margin-left: 20px;
    }

    /*BARRE DE RECHERCHE*/
    .searchsection 
    {
        padding: 20px
    }

    #searchbar
    {
        margin-left: 20px;
    }

    button .fa-search /*loupe*/
    {
        color: white;
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 18px;
        font-size: 1.2em;
    }

    button 
    {
        width: 65px;
        border-radius: 20px;
        margin-left: -15px;
    }

    .searchbutton strong
    {
        display: none;
    }

    /*FILTRES*/
    .filtersearch 
    {
        display: flex;
        flex-direction: column;
        align-items: flex-start
    }

    #filter 
    {
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
    }

    .filterbutton 
    {
        margin: 10px;
    }
}

/*--*****************FIN DU @media*****************--*/

/*------------------------------------------------------------------------------*/

/* SECTION 2 - Article 1: Hébergements */

.hosting /* = GROS BLOC SECTION HEBERGEMENT + LES PLUS POPULAIRES*/
{
	display: flex;
	justify-content: space-between;
    width: 95%;
    min-height: 650px;
}
 /*Général*/
strong
{
	font-weight: bold;
}

.blue 
{
    color: #0065FC;
}

.gray 
{
    color: #F2F2F2;
}

.accomodation /*= SOUS-BLOC ARTICLE 1 HEBERGEMENTS*/
{
	display: grid;
    grid-template-rows: 10% 80% 10%;
    background-color: #F2F2F2;
    width: 58%;
    padding: 0 30px;
    border-radius: 20px;
}

.accomodation a 
{
    text-decoration: none;
    color: black;
}

.accomodation h2, h3
{
	display: flex;
    text-align: center;
    margin: 20px;
}

.accomodationmarseille 
{
	display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 35px;
    grid-column-gap: 35px;
    height: 105%;
    width: 100%;
}

.findings /*Figure*/
{
	display: grid;
    grid-template-rows: 60% 40%;
    box-shadow: 5px 5px 5px rgb(205,202,201);
    background-color: white;
    width: 90%;
    height: 110%;
    max-height: 200px;
    margin: 5px;
    padding: 5px;
    border-radius: 20px;
}

.accomodationmarseille img 
{
	object-fit: cover;
	height: 100%;
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.accomodationmarseille figcaption 
{
    display: grid;
    grid-template-rows: 80% 15%;
    padding: 10px;
}

.accomodationmarseille figcaption p 
{
	text-align: justify;
    height: 100%;
    margin: 0.5px;
    line-height: 23px;
}

.accomodation .stars /*Étoiles*/
{
	font-size: 0.8em;
}

.accomodationmarseille h3:hover, h2:hover, p:hover
{
	color: #0065fc;
}

/*-------------------------------*/
/* SECTION 2 - Article 2: Les plus populaires */

#mostpopular 
{
	display: grid;
    grid-template-rows: 10% 80%;
    background-color: #F2F2F2;
    width: 35%;
    padding: 0 10px;
    margin-left: 50px;
    border-radius: 20px;
}

#mostpopular a
{
	text-decoration: none;
	color: black
}

#mostpopular a:hover
{
	color: #0065fc;
}

.pop_title 
{
	display: flex;
	justify-content: space-around;
	text-align: center;
}

#mostpopular .fa-chart-line /*Icone*/
{
	font-size: 1.5em;
	display: flex;
	text-align: center;
	margin: 25px;
}

.pop_accomodation 
{
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 5%;
    height: 100%; 
    width: 80%;
    margin-left: 40px;
}

.pop_picture /*Figure*/
{
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 40% 60%;
	box-shadow: 5px 5px 5px rgb(205,202,201);
    background-color: white;
    width: 100%;
    height: 100%;
    max-height: 145px;
    margin: 0;
    padding: 5px;
    border-radius: 20px;
}

.pop_accomodation img 
{
    width: 90%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
}

.pop_accomodation figcaption 
{
	display: grid;
	grid-template-rows: 85% 15%;
	padding: 5px;
}

.pop_accomodation figcaption p
{
	text-align: justify;
	height: 60%;
	line-height: 25px;
}

#mostpopular .stars /*Étoiles*/
{
	font-size: 0.8em;
}

/*--*****************@media queries Hébergements + Plus Populaires*****************--*/

/*--*****Resolution-Tab*****--*/
@media screen and (max-width: 1024px)
{	/*BIG BLOC Hebg. et +Pop.*/
	.hosting 
	{
		display: flex;
    	flex-direction: column-reverse;
    	justify-content: space-around;
        margin-left: 20px;
	}

	/*Plus populaires*/
	#mostpopular 
	{
    	display: flex;
    	flex-direction: column;
    	width: 80%;
    	min-height: 560px;
    	padding: 20px;
    	margin: 0 auto;
        border-radius: 0;
	}	

	#mostpopular h2 
	{
		display: flex;
    	flex-direction: column;
    	justify-content: space-around;
    	align-items: flex-start;
    	margin-bottom: 30px;
        margin-left: -40%;
	}

    #mostpopular .stars
    {
        margin-left: 20px;
    }

	.pop_accomodation 
	{
    	display: grid;
    	grid-template-columns: 1fr;
    	grid-template-rows: 1fr 1fr 1fr;
   	 	grid-row-gap: 10px;
    	height: 500px;
	}

	/*Hebergements*/
	.accomodation 
	{
		display: grid;
  		grid-template-rows: 5% 80% 5%;
  		grid-row-gap: 10px;
        background-color: white;
    	width: 70%;
   	 	min-height: 1400px;
   	 	padding: 25px;
        margin-left: 95px;
	}

	.accomodation h2 
	{
    	margin: 20px;
	}

	.accomodationmarseille
	{
		display: grid;
    	grid-template-columns: 1fr;
    	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
	}

	.findings /*Figure*/
	{
    	height: 350px;
    	box-shadow: 5px 5px 5px #F2F2F2;
    	border-radius: 20px 20px 20px 20px;
    }

	.accomodation h3
	{
		margin: 0 20px;
	}
}

/*--*****Resolution-Mobile*****--*/
@media screen and (max-width: 720px)
{
    /*BIG BLOC Hebg. et +Pop.*/
    .hosting 
    {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
    }

    /*Plus populaires*/
    #mostpopular 
    {
        display: flex;
        flex-direction: column;
        border-radius: 0;
        width: 95%;
        min-height: 560px;
        padding: 20px;
        margin: 0 auto;
    }   

    #mostpopular h2 
    {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        margin-bottom: 30px;
        padding-left: 110px;
    }

    .pop_accomodation 
    {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-row-gap: 10px;
        height: 500px;
    }
        /*Hebergements*/
    .accomodation 
    {
        display: grid;
        grid-template-rows: 5% 80% 5%;
        grid-row-gap: 2px;
        background-color: white;
        width: 92%;
        min-height: 1400px;
        padding: 25px;
        margin-left: 5px;
    }

    .accomodation h2 
    {
        margin: 20px;
    }

    .accomodationmarseille
    {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .findings /*Figure*/
    {
        height: 220px;
        box-shadow: 5px 5px 5px #F2F2F2;
        border-radius: 20px 20px 20px 20px;
    }

    .accomodation h3
    {
        margin: 0 20px;
    }
}

/*--*****************FIN DU @media*****************--*/

/*------------------------------------------------------------------------------*/
/* SECTION 3: Activités à Marseille*/

.activity 
{
	display: grid;
	margin-top: 60px;
	margin-bottom: 60px;
}

.activity a
{
	text-decoration: none;
	color: black;
}

.activity a:hover
{
	color: #0065fc;
}

.activity_result 
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    width: 75%;
    height: 100%;
}

.activity_pic 
{
	display: grid; 
	text-decoration: none;
    color: black;
    width: 30%;
    margin: 15px;
}

.activity_pic img 
{
    display: grid;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 6px 6px 6px rgb(205,202,201);
}

.activity_pic figure 
{
    display: grid;
    grid-template-rows: 1fr 50px;
    width: 100%;
    height: 100%;
    margin: 0;
}

.activity_pic figcaption 
{
    display: grid;
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 0 0 20px 20px;
    padding: 10px;
}

.activity_pic figcaption p
{
	text-align: center;
	height: 100%;
}
 
.activity_pic:nth-of-type(1) 
{
    height: 100%;
}

.activity_pic:nth-of-type(2) 
{
    height: 50%;
    max-height: 230px;
}

.activity_pic:nth-of-type(3) 
{
    height: 40%;
    max-height: 160px;
}

.activity_pic:nth-of-type(4) 
{
    height: 100%;
}

.activity_pic:nth-of-type(5) 
{
    height: 50%;
    max-height: 200px;
}

.activity_pic:nth-of-type(6) 
{
    height: 50%;
    max-height: 210px;
}

/*--*****************@media queries ACTIVITY*****************--*/

/*--*****Resolution-Tab*****--*/
@media screen and (max-width: 1024px)
{
	.activity 
	{
    	display: flex;
    	flex-direction: column;
    	width: 350%;
    	min-height: 1400px;
    	padding: 10px 20px;
        margin-left: 85px;
 	}

	.activity h2
	{
		padding-top: 15px;
		margin: 20px;
	}

	.activity_result 
	{
    	display: grid;
    	grid-template-columns: 1fr;
    	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    	grid-row-gap: 3px;
    	height: auto;
	}


	.activity_pic figure 
	{
    	width: 90%;
    	height: 220px;
    	border-radius: 20px 20px 20px 20px;
    	box-shadow: 5px 5px 5px #F2F2F2;
	}
}

/*--*****Resolution-Mobile*****--*/
@media screen and (max-width: 720px)
{
    .activity 
    {
        display: flex;
        flex-direction: column;
        width: 350%;
        min-height: 140px;
        padding: 10px 20px;
        margin-left: 20px;
    }

    .activity h2
    {
        padding-top: 15px;
        margin: 20px;
    }

    .activity_result 
    {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-row-gap: 3px;
        height: auto;
    }


    .activity_pic figure 
    {
        width: 100%;
        height: 220px;
        border-radius: 20px 20px 20px 20px;
        box-shadow: 5px 5px 5px #F2F2F2;
    }
}

/*--*****************FIN DU @media*****************--*/

/*------------------------------------------------------------------------------*/
/*FOOTER*/
footer 
{
    display: flex;
    justify-content: space-between;
    background-color: #F2F2F2;
    padding: 50px 40px;
}

footer div 
{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    margin-right: 150px;
}

footer h3 
{
   font-weight: bold;
   margin-left: 42px;
}

footer a
{
	text-decoration: none;
	color: black;
}

footer a:hover
{
	color: #0065fc;
}

footer li
{
    text-align: left;
    line-height: 27px;
    list-style-type: none
}
/*--*****************@media queries FOOTER*****************--*/

/*--*****Resolution-Tab*****--*/
@media screen and (max-width: 1024px)
{
	footer
	{
		display: flex;
    	flex-direction: column;
        align-items: center;
   		width: 100%;
    	height: 100%;
	}
}

/*--*****Resolution-Mobile*****--*/
@media screen and (max-width: 720px)
{
    footer
    {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        height: 100%;
    }
}
/*--*****************FIN DU @media*****************--*/
